body {
    background-color: #B7D8FF;;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #B7D8FF;
    margin-top: 50px;
}

select{
    overflow-y:auto;
}

p,
label {
    font: 0.9rem 'Fira Sans', sans-serif;
}
p {
    text-align: center;
}

.labelMenu {
    color: #ecf5ff;
}

.Dimensionamento {
    display: flex;
    flex-direction :row; 
}

/* dados da flecha imediata*/

.respdif {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.repeticao {
    padding-top: 10px;
    background-color: #afcef5;
    border-radius: 14px;
    padding: 10px;
    

}.exibeValor {
    padding-top: 25px;
    border-radius: 10px;
    background-color:  #b7d8ff;
    width: 5rem;
    max-height: 2rem;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   

}
.legendasValores {
    font-size:9px;
}
.respText{
    
    font-weight: normal;
    font-size: 14px;
    word-break: break-word;
    padding-top: 0;
    
}.btnInsereDif{
    background-color: #0055B8;
    border:none;
    color: #FFF;
    box-shadow: rgb(138, 138, 138) 0px 2px 3px;
    border-radius: 5px;  
    height: 4rem;
    margin : 15px
    

}#btnInsereDifNao {
    background-color: #ff0000;
}



.btnInsereDif:hover {
    background-color: #005fcc;
}.btnInsereDif:active{
    background-color: #004594;
}.emtornoresposta{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin : 3px
}.condicionaisBotaoNovosValores{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------------------------------------------------------------ */

.alinamentoInputs, .alinamentoInputsContas{
    display: flex;
    flex-direction :row;
    align-items: center;
}

.Inputscondicional{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}



.alinamentoInputs {
    text-align: center;
    padding: 1.5rem;
}
.alinamentoInputs:hover {
    background-color: #004ea7;
    align-items: center;
    display: flex;
    justify-content: center;
}

.buttonResolveConta {
    color: #fff;
    background-color: #0055B8;
    width: 100%;
    height: 35px;
    font-size: 15px;
    border: none;
    box-shadow: rgb(138, 138, 138) 0px 2px 3px;
    border-radius: 5px;  
}

.buttonResolveConta:hover {
    background-color: #005fcc;
}.buttonResolveConta:active{
    background-color: #004594;
}


.alinhamentoCalculos, .seletorGeral{
    margin: 0.9rem;
    display: flex;
    flex-direction :column
    
}
.locallimpar{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    border-top: 50px;
    
}

.seletorGeral {
    width: 50%;
}

.btnsalinhamentoCalculos {
    width: 100%;
    display: flex;
    margin-top: 20px;
    word-break: break-word;
    
}

.divsCalculos {
    margin-top: 40px;
    display: none;
    flex-direction: row;
    background-color: #B7D8FF;
    box-shadow: 1px 1px 2px;
    border-radius: 5px;
    margin-bottom: 50px;
    
}

.divInputsCalc {
    margin: 15px;
    
}

.navBar {
    width: 100%;
    background-color:#0055B8 ;
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    box-shadow: 1px 1px 5px;

}


.legendas {
    font-size: 0.7rem;
    color: #003c80;
    font-size: 15px;
}
.paragCabecalho {
    color: #003c80;
    font-weight: bold;
}
.divCabecalho {
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
}
#momentoDeCalcInput, #momAtuante, #dlinha{
    display: none;
}
.checks {
    margin-right: 5px;
    display: none
}

.checksCondicional, .checks {
    min-width: 20px;
    min-height: 20px;
    background-color: #ecf5ff;
    border: none;
}


.entradas, .seletorGeralInterno {
    height: 35px;
    background-color: #ecf5ff;
    box-shadow: 0 0 0 0;
    border: 0 none;
    border-radius: 5px;
    color: #003c80;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    
}.seletorGeralInterno {
    height: 30px;
}

.entradas:focus  {
    background-color: #FFF;
    outline: 0;

}

.seletorGeralInterno {
    font-size: 11px;
    font-weight: 400;
    outline: 1;
    outline-color: #a1c7f5;

}.semBorda {
    margin: 2px;
}

hr {
    /* transform: rotate(0deg); */
    width: 0.5px;
    background-color: #004ea7;
    border: none;
    margin-left: 25px;
    margin-right: 25px; ;
}



#tresInputs {
    display: none;
    flex-direction: column;
}

#condicaocalc1 , #condicaocalc2 {
    display: none;
}
.botaoLimpar {
    
    width: 100px;
    height: 25px;
    font-size: 11px;
    color: #FFF;
    background-color: #0055B8;
    border: none;
    border-radius: 5px;
    box-shadow: rgb(138, 138, 138) 0px 2px 3px;
    justify-self: flex-end;

}.botaoLimpar:hover{
    background-color: #005fcc;

}.botaoLimpar:active {
    background-color: #004594;
}

.Aviso{
    color: #ff0000;
}

#compresao{
    display: none;
}

.avisoResolvido {
    color: #108b24;
    font-weight: bolder;

}.warnning{
    
    align-items: center;
    justify-content: center;
    display: none;
}
#avisoValores {
    font-weight: bolder;
}

/* respostas obtidas */

.titutoResp, .legendaResp, .valorResp{
    color: #003c80;
    
}.titutoResp, .valorResp{
    font-weight: bold;
}.resultadoCalculoLong {
    margin: 25px;
}


.botoesResposta {
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    margin-top: 50px;
    
    
}
.botaoEq,.botaoFigs, .fecharEqImg{
    background-color:#0055B8;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 30px;
    font-size: 13px;
    color: #fff;
    border-radius: 5px;
    box-shadow: rgb(138, 138, 138) 0px 2px 3px;
    margin: 5px;
}.botaoEq:hover{
    background-color: #005fcc;
}.botaoEq:active {
    background-color: #004594;
}.botaoFigs {
    background-color: #006ae4;
}.botaoFigs:active{
    background-color: #004594;
}
.fecharEqImg{
    margin-top: 15px;
    margin-bottom: 15px;
}


.containerImgResp {
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 100%;
    
}.containerImgResp:active {
    transform: scale(1.5); 
    box-shadow: rgb(138, 138, 138) 0px 2px 3px;
  
}

.imgResult{
    max-width: 100%;
    max-height: 100%;
    

}.ListaImagensOpc{
    max-width: 55rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    

}.containerImgRespVarias {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    margin: 5px;
    
    
    
    
    
    
  }.containerImgRespVarias:active{
      transform: scale(1.1);
      box-shadow: rgb(138, 138, 138) 0px 2px 3px;
  }.portaImg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}.swal2-title,.swal2-html-container{
    color: #004ca5;
}.swal2-html-container{
    font-weight: bold;
}.swal2-title{
    font-size: 25px;
}.icone{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15rem;
    height: 180px;
    width: 100%;
}.titulo{
    font-weight: bold;
    font-size: 50px;
    margin:0 ;
    color: #18447a;
}.autores{
    margin-bottom: 15px;
    color: #18447a;
}.portaAutores{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    font-size: 15px;
}.por{
    margin: 7px;
}


  @media screen and (max-width: 730px) {
    .containerImgRespVarias {
        height: 300px;
        
    }
  }


@media screen and (max-width: 595px) {
    .containerImgResp:active {
        transform: none; 
      } 
    .alinamentoInputs {
        padding: 2%;
        
    }
    .labelMenu {
        font-size: 0.7rem;
    }
    .divsCalculos {
        flex-direction: column;
    }
    .resultadoCalculoLong {
        border-top: 1px solid #0055B8;
    }
    .botaoEq,.botaoFigs{
        width: 120px;
    }
    .ListaImagensOpc{
        flex-direction: column;
        margin: 5px;
        flex-wrap: unset;
    }
    .containerImgRespVarias {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 400px;
        width: 100%;
        margin: 5px;
        
      }
    .containerImgRespVarias:active{
    transform: none;
    box-shadow: none;
    }.icone{
        
        height: 100px;
        width: 100%;
    }
    
    
    
}

@media screen and (max-width: 425px) {
    .alinamentoInputs {
        
        padding: 2%;
        height: 3rem;
        
    }.legendas {
        font-size: 12px;
    }
    
    .labelMenu {
        font-size: 0.7rem;
    }
    .Dimensionamento {
        display: flex;
        flex-direction :inherit;
        
        
    }.divsCalculos {
        margin: 15px;
        margin-top: 20px;
        margin-bottom: 30px;
        
        
        
    }.entradas{
        height: 40px;
    }.divInputsCalc {
        margin: 3px;
    }.btnsalinhamentoCalculos {
    
        display: flex;
        margin-top: 20px;
        margin-bottom: 5px;
        
    }.entradas {
        text-align: center;
        color: #004ea7;
        font-weight: bold;
        font-size: 20px;
        
    }.containerImgRespVarias {
        margin: 3px;
        height: 300px;
        width: 100%;
    }
    .ListaImagensOpc{
        flex-direction: column;
        margin: 5px;
    }
}
